*{
    margin: 0;
}
body{
    font-family: 'Oswald', sans-serif;
    background-color: #71a39c;
    font-size: 180%;
}
header img{
    height: 630px;
    width: 100%;
    object-fit: cover;
}

.about-section{
    text-align: left;
}

.detail{
    margin-left: 3%;
    display: flex;
    width: 66.67%;
    background-color: lightskyblue;
    border-style: solid;
    border-color: black;
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
}


.detail2{
    margin-left: 30%;
    display: flex;
    width: 66.67%;
    background-color: lightskyblue;
    border-style: solid;
    border-color: black;
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
}


.info{
    margin-left: 60px
}

.info2{
    margin-left: 60px;
}

.detail img{
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 50px;
    border-style: solid;
}

.detail2 img{
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 50px;
    border-style: solid;
}

